.Rproj.user
.Rhistory
.RData
.Ruserdata
clean/results/metrics-days-ls-2017-02-26 2017-04-03 90percent.RData
clean/results/metrics-days-ls-2017-05-28 2017-07-20 90percent.RData
clean/results/metrics-days-ls-2018-05-01 2018-09-05 99percent.RData
